.column-left{
	width: 200px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding-top: 130px;
}

.column-right{
	width: 400px;
	display: inline-block;
	vertical-align: top;
}

.column-farright {
  border: 1px solid black;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  min-height: 24px;
  min-width: 150px;
  max-width: 190px;
  margin: 140px 0 0 75px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 5px 10px 5px;
  background-color: #2F2F2F;
}

.column-farright a {
  font-size: 12px; 
  color: white;
}

.column-farright a:hover {
  color: #54B0F0;
  
}

.float-left{
	float: left;
	vertical-align: top;
	text-align: top;
}

.subhead{
	font-size: 14px;
	position: relative;
	bottom: 20px;
	left: 70px;
}

.subhead a{
	text-decoration: none;
	color: #54b0f0;
}

.email-header{
	background-color: #2f2f2f;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 10px;
}

.email_template {
  width: 450px;
  min-height: 400px;
  border-top: 4px dashed black;
  border-bottom: 4px dashed black;
  display: none;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
  
}

.email_template h1 {
  font-size: 12px;
}
.email_template h4 {
  font-size: 10px;
  font-weight: 900;
}
.email_template p {
 font-size: 9px; 
}